extends layout

block content
  .heading
    h1= title
    p Welcome to #{title}
  .player
    video(src='',id='video',width='680', height='320', controls='',autoplay='true')
    canvas(id='preview')
  .logger
  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/camCtrl.js') 
